<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
	<script type="module" src="./src/frontend.js"></script>
	<link rel="stylesheet" href="./src/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
	<title>Testing Interface</title>
</head>
<body>

	<div id="app" class="flex w-screen h-screen">
		<div class="navigation w-1/5 h-screen p-3 bg-gradient-to-br from-zinc-800 to-zinc-700 
			overflow-y-auto overflow-x-hidden hover:w-1/2 transition-all text-neutral-200">

			<form class="addNewPage" @submit.prevent="addNewPage">
				<input class="rounded-2xl w-11/12 bg-zinc-900 mb-2" type="text" placeholder="Page name" v-model="pageToAdd.pageName" @keyup.enter="$emit('submit')">
				<input class="rounded-2xl w-11/12 bg-zinc-900 mb-4" type="text" placeholder="Page URL" v-model="pageToAdd.URL" @keyup.enter="$emit('submit')">
				<button @click="$emit('submit')" class="hidden">click me</button>
			</form>

			<ul>
				<li class="page-border w-11/12 border-2 rounded-2xl p-2 my-2 cursor-pointer overflow-x-hidden" 
					v-for="page in mainJSON.pages" @click="selectPage(page)">
					<p class="whitespace-nowrap flex items-center"><img src="./public/page-svgrepo-com.svg" class="w-6 h-5"><b>{{page.pageName}}</b></p>
					<p class="whitespace-nowrap">URL: <b>{{page.URL}}</b></p>
				</li>

			</ul>
		</div>
		<div class="workspace w-4/5 h-screen p-3 bg-gradient-to-br from-zinc-800 to-zinc-900 text-zinc-200">
			<header class="w-full  m-0"><b>{{selectedPage.pageName}}</b> <i>{{selectedPage.URL}}</i>
			</header>
			<div class="w-fill h-fill">
				<div class="w-fill h-1/2 p-2 border-2 border-zinc-500 rounded-2xl  mb-2">
					<div class="head flex">
						<img src="./public/data-explorationinterpreters-svgrepo-com.svg" class="w-7 h-7  mr-3">
						<button v-for="data in pageToShow.data" 
								class="ml-2 bg-slate-300 border-2 text-zinc-900 border-zinc-700 rounded-2xl px-2"
								@click="selectData(data.dataName)"
							>
							{{data.dataName}}
						</button>
					</div>
					<div>
						<h1>{{pageToShow.data}}</h1>
					</div>				
				</div>
				<div class="w-fill h-1/2 p-2 border-2 border-zinc-500 rounded-2xl">
					<div class="head flex">
						<img src="./public/data-exploration-data-center-model-management-svgrepo-com.svg" class="w-7 h-7 mr-3">
						<button v-for="block in pageToShow.blocks"
							class="ml-2 bg-slate-300 border-2 text-zinc-900 border-zinc-700 rounded-2xl px-2"
							@click="selectBlock(block.blockName)"
						>
						{{block.blockName}}
						</button>
					</div>
					<h1>{{pageToShow.blocks}}</h1>
				</div>
			</div>
		</div>
	</div>





</body>

</html>