b {
	font-weight: bold;
}

*{
	font-family: 'Manrope', sans-serif;
}

body{
	overflow-x: hidden;
}

.page-border{
	border-color: #50c878;
}

.page:hover .delete-page{
	display: block;
}

.navigation{
	transition: all ease 800ms;
}

.data-bar-button{
	position: absolute;
	left: -2.5rem;
	width: 40px;
	height: 43px;
	top: -2px;
	cursor: pointer;
}

.data-bar{
	transition: all ease 500ms;
}