b {
	font-weight: bold;
}

*{
	font-family: 'Manrope', sans-serif;
}

.page-border{
	border-color: #50c878;
}

.page:hover .delete-page{
	display: block;
}
.showData{
	right: 0;
}

.hideData{
	right: -400px;
}

.data-bar-button{
	content: url('../public/data-exploration-data-center-model-management-svgrepo-com.svg');
	position: absolute;
	left: -2.5rem;
	width: 10px;
	height: 10px;
}